
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit well">
        <h1>
          Crowd Funder
        </h1>
        <p>
          Sleek, intuitive, and powerful crowd-fund framework for faster and easier business ideas.
        </p>
        <p>
          <small>By:</small>
        </p>
        <div class="view"></div>
          <ul class="breadcrumb">
            <li>
              <a href="https://github.com/estiens/" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">Eric</a> - 
            </li>
            
            <li>
              <a href="https://github.com/ahmednadar" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">Ahmed</a> - 
            </li>

            <li>
              <a href="https://github.com/beccacoady" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">Rebaca</a>
            </li>      
          </ul>

      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h4>
        The Warden and the Wolf King
      </h4>
      <small>by Andrew Peterson</small>
      <p>
        Rabbit Room Press presents the long-awaited final volume of the Christy Award-winning Wingfeather Saga
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="span4">
      <h4>
        Reaper Miniatures Bones II: The Return Of Mr Bones!
      </h4>
      <small>by Reaper Miniatures</small>
      <p>
        Reaper Miniatures Bones II is a project to continue the expansion of Reaper's Bones line of high-quality plastic gaming miniatures.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="span4">
      <h4>
        Completely Royal - Elite Belts
      </h4>
      <small>Completely Royal - Elite Belts</small>
      <p>
        What started out of necessity has turned into a passion. Completely Royal, amazing belts, unbelievable fit.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
</div>